*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --danger: #dc3545;
}

body,
html {
  margin: 0;
  padding: 0;
  display: block;
}

main {
  display: block;
}

input[type="text"]:focus {
  outline: var(--danger) 1px solid !important;
}

.required::after {
  content: ' *';
  color: red;
}

.no-drag {
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.login-section {
  width: 50%;
  padding: 4rem;
}

.school {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  transition: margin-bottom 300ms ease-in-out;
}

.school:focus {
  margin-bottom: 200px !important;
}

.auto-complete-box {
  position: absolute;
  background: white;
  margin-bottom: 2rem;
  border-radius: 10px;
  max-height: 0px;
  overflow-y: scroll;
  pointer-events: none;
  transition: max-height 300ms ease-in-out, transform 300ms ease-in-out;
  transform: translateY(15px);
}

.school:focus+.auto-complete-box {
  max-height: 180px;
  pointer-events: all;
  padding: 0.5rem;
  transform: translateY(-190px);
}

.school:focus+.auto-complete-box>li {
  display: block;
}

.auto-complete-box li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 5px;
  display: none;
}

.auto-complete-box li:hover {
  background-color: #dc3545;
  cursor: pointer;
  color: white;
}

.not-listed:hover {
  background: none !important;
  color: black !important;
}

.topic-card {
  background-color: rgb(255, 250, 250);
  padding: 1em;
  border: rgb(242, 212, 212) 1px solid;
  border-radius: 1em;
  flex-basis: 33%;
}

.login {
  height: 40px;
}

.feature-icon {
  width: 50px;
  height: 50px;
}

.searchbar {
  width: 300px !important;
}

.searchbar:focus {
  text-indent: 35px;
}

.search-icon {
  visibility: hidden;
  position: absolute;
  width: 38px;
  height: 38px;
  transform: translateY(-100%);
}

.search-icon img {
  position: absolute;
  transform: translate(-50%, -50%)
}

.searchbar:focus+.search-icon {
  visibility: visible !important;
}

.icon-btn .btn {
  border: none !important;
}

.icon-btn .tooltip {
  position: absolute;
  cursor: default;
  transform: translateY(150%);
  background-color: grey;
  color: white;
  opacity: 0;
  transition: opacity 200ms ease;
}

.icon-btn .tooltip::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1em;
  border-width: 1em;
  border-style: solid;
  border-color: transparent transparent grey transparent;
  transform: translateY(-200%);
}

.icon-btn .btn:hover~.tooltip {
  opacity: 1;
}

@media only screen and (min-width: 576px) {
  .subtopic {
    margin: 0.5rem;
    width: calc(100% - 1rem) !important;
  }
}

@media only screen and (min-width: 768px) {
  .subtopic {
    margin: 0.5rem;
    width: calc(50% - 1rem) !important;
  }
}

@media only screen and (min-width: 992px) {
  .subtopic {
    margin: 0.5rem;
    width: calc(33% - 1rem) !important;
  }
}
